### Factors Data Loads

In [1]:
import pickle

In [133]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi


api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

start = 20150101
end = 20180101
SH_id = dp.index_cons(api, "000300.SH", start, end)
SZ_id = dp.index_cons(api, "000905.SH", start, end)

stock_symbol = list(set(SH_id.symbol)|set(SZ_id.symbol))

import os
import numpy as np
import pandas as pd
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs_fxdayu.data import DataView
from jaqs_fxdayu.data.dataservice import LocalDataService
from jaqs_fxdayu.data.dataservice import RemoteDataService

import warnings
warnings.filterwarnings("ignore")

#--------------------------------------------------------
#define


factor_list  = ['fcffps','net_cash_flows_oper_act','lt_borrow','st_borrow','LCAP','end_bal_cash','RSI','CFO2EV','CMRA','TVSTD6','PE']
check_factor = ','.join(factor_list)

dataview_folder = r'D:/data'
ds = LocalDataService(fp = dataview_folder)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
        'timeout':600,  
         "prepare_fields": True}

dv = DataView()

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'vwap_adj,close_adj,open,high_adj,trade_status,low,close,trade_date,symbol,high,low_adj,open_adj,vwap'}
下载进度647/1051.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'open,low,close,high,vwap,symbol,trade_date'}
下载进度647/1051.
当前请求query...
{'fields': 'CMRA,CFO2EV,TVSTD6,PE,LCAP,RSI', 'view': 'factor'}
下载进度647/1051.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601299.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

In [135]:
# total market value
data_config = {
    "remote.data.address": "tcp://data.tushare.org:8910",
    "remote.data.username": "13662241013",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow"
}
ds1 = RemoteDataService()
ds1.init_from_config(data_config)




dv.add_field('total_mv',ds1)
dv.add_field('ncf_oper_ttm',ds1)
#dv.save_dataview('totalmv_data')

Begin: DataApi login 13662241013@tcp://data.tushare.org:8910
    login success

Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'total_mv,trade_date,symbol'}
下载进度647/1051.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.
Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'ncf_oper_ttm,trade_date,symbol'}
下载进度647/1051.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.

True

In [136]:
dv.save_dataview('datav1/')

Store data...
Dataview has been successfully saved to:
C:\Users\Administrator\Desktop\云实习--王馨桐\Factors8\datav1

You can load it with load_dataview('C:\Users\Administrator\Desktop\云实习--王馨桐\Factors8\datav1')

### Spearman_check

In [11]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result
 
    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

## 因子一

### EnterpriseFCFPS--企业每股自由现金流量

#### 计算方法：直接读取

In [167]:
EnterpriseFCFPS = dv.add_formula('EnterpriseFCFPS_J',"fcffps",is_quarterly = False, add_data = True)

print(spearman_factor(factor_u='fcffps', factor_j='EnterpriseFCFPS_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.485583
dtype: float64, array([ 0.01588577]))

In [168]:
dv.get_ts('fcffps').head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150331,0.0,1.1281,-0.7609,0.2255,-0.4791,-0.0522,-0.3009,-2.2110,-0.4985,1.6329,...,0.0348,NaN,NaN,NaN,-0.4468,0.6351,-0.6610,NaN,0.2067,0.4312
20150630,0.0,-1.5132,-0.6318,-0.8099,-0.2092,-0.2848,-0.3325,-2.9842,-0.0103,0.0688,...,0.0348,NaN,0.0000,NaN,-0.4468,-0.0132,0.0000,NaN,0.2612,-0.2907
20150930,0.0,-0.4229,-0.8783,-0.8669,-0.5294,-0.1259,-0.0807,-3.5485,-0.9261,0.6939,...,0.0348,NaN,0.0000,NaN,-0.4468,0.0963,-2.4019,NaN,-1.0984,-0.1390
20151231,0.0,-1.0932,-1.0947,-0.2986,-0.6638,-0.5060,-0.5171,-5.7430,-1.0212,0.1300,...,0.0348,NaN,0.2584,NaN,-0.4468,0.0168,-3.2899,NaN,-1.0583,-0.0830
20160331,0.0,0.0500,-0.6512,-0.2986,-0.6638,0.0592,-0.1068,-5.7430,-1.0212,0.1300,...,0.0348,NaN,0.2361,-0.2102,-0.4468,0.7616,-3.2899,NaN,-0.5647,0.1379

## 因子二
### CFO2EV-- 经营活动产生的现金流量净额与企业价值之比
### 计算方法：
#### CFO2EV = NOCF/EV=NOCF/(LTL+STL+MarketValue-N_CE)

In [138]:
(ncf_oper_ttm,lt_borrow,st_borrow,total_mv,end_bal_cash)=(dv.get_ts(x) 
                                                         for x in ('ncf_oper_ttm','lt_borrow','st_borrow','total_mv','end_bal_cash'))
CFO2EV_J=ncf_oper_ttm/(lt_borrow+st_borrow+total_mv-end_bal_cash) 
#CFO2EV = dv.add_formula('CFO2EV_J',"ncf_oper_ttm/(lt_borrow+st_borrow+total_mv-end_bal_cash)",is_quarterly=True, add_data=True)
CFO2EV=dv.append_df(CFO2EV_J,'CFO2EV_J')
print(spearman_factor(factor_u='CFO2EV', factor_j='CFO2EV_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.469464
dtype: float64, array([  5.15898600e-191]))

In [141]:
dv.get_ts('CFO2EV')

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150331,-7.2059,0.3262,-0.0730,0.0032,0.0164,0.0568,-0.0044,NaN,-0.0010,0.0918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0221,0.0536
20150630,-23.0470,0.2109,-0.0954,0.0019,0.0084,0.0450,-0.0183,NaN,0.0088,0.0623,...,NaN,NaN,NaN,NaN,NaN,0.0136,0.0204,NaN,0.0195,0.0478
20150930,-0.6502,0.2515,-0.1205,-0.0028,0.0247,0.0537,-0.0055,NaN,0.0030,0.0986,...,NaN,NaN,NaN,NaN,NaN,0.0220,0.0484,NaN,0.0278,0.0578
20151231,-0.5362,0.0767,-0.0619,-0.0024,0.0027,0.0365,-0.0132,NaN,0.0008,0.0843,...,NaN,NaN,0.0197,NaN,NaN,0.0119,0.0393,NaN,0.0182,0.0452
20160331,0.0167,0.0633,-0.0251,-0.0023,0.0035,0.0414,0.0262,NaN,0.0009,0.1133,...,NaN,NaN,0.0303,NaN,NaN,0.0220,0.0512,NaN,0.0296,0.0241
20160630,-0.3585,0.0789,0.0853,-0.0009,0.0086,0.0495,0.0429,NaN,0.0025,0.1123,...,NaN,NaN,0.0249,0.0202,NaN,0.0200,0.0548,NaN,0.0297,0.0271
20160930,3.7894,0.1888,0.1014,-0.0010,0.0047,0.0628,0.0156,NaN,0.0037,0.0942,...,NaN,NaN,0.0270,0.0255,NaN,0.0212,0.0434,NaN,0.0275,0.0116
20170331,-0.1447,0.1793,0.1633,-0.0035,0.0184,0.0727,0.0216,NaN,0.0055,0.0833,...,0.0385,0.0296,0.0270,0.0406,0.0202,0.0271,0.0612,0.0213,0.0431,0.0295
20170630,-3.9683,0.1466,0.1130,-0.0134,-0.0015,0.1002,0.0204,NaN,0.0040,0.0805,...,0.0318,0.0430,0.0321,0.0335,0.0599,0.0329,0.0591,0.0205,0.0435,0.0393

## 因子三
### GainVariance20--20日收益方差
### 计算方法：
#### GV(r) = E(r-E(r)|r>=0)^2 = E(r^2|r>=0)-E(r|r>=0)^2

In [148]:
dv.load_dataview('datav1/')

Dataview loaded successfully.

In [150]:
dv.add_formula('ret_f','Return(close_adj,20)',is_quarterly = False,add_data = True)

dv.get_ts('ret_f').head()
#dv.get_ts('close_adj')

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150105,0.147564,0.275449,-0.008403,-0.063848,-0.071685,0.048220,-0.081582,NaN,-0.187251,0.139139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.025304
20150106,0.086029,0.253054,-0.007246,-0.036203,-0.029963,0.089180,0.018519,NaN,-0.125523,0.108949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.069040
20150107,0.016415,0.156911,0.004392,0.058294,0.000751,0.033257,0.039947,NaN,-0.115188,0.115710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.103337
20150108,0.091174,0.190018,0.027273,0.063221,0.025346,0.075383,0.116737,NaN,-0.060329,0.143719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.151270
20150109,0.062720,0.125523,-0.001490,0.015337,-0.049780,-0.007813,0.052917,NaN,-0.085868,0.036827,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.111111

In [154]:
dv.get_ts('close_adj').head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150105,1092.248406,1711.31016,410.230776,131.838350,94.914435,181.865948,105.619679,NaN,19.210680,99.587632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.131241
20150106,1075.885134,1648.18336,396.904070,132.628165,94.914435,182.463536,109.457810,NaN,19.681530,99.762654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.425815
20150107,1055.431044,1633.26248,397.483492,135.665915,97.699569,179.475596,111.021493,NaN,19.530858,103.788165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.783512
20150108,1019.977288,1559.80584,392.848116,139.979520,97.846155,181.865948,112.869482,NaN,19.361352,99.587632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.488938
20150109,1028.158924,1543.73720,388.212740,140.769335,95.134314,177.085244,110.310728,NaN,19.248348,96.087188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.415295

In [151]:
GainVariance20 = dv.add_formula('GainVariance20_J','If(ret_f>0,250*((Ts_Mean(ret_f^2,20)-(Ts_Mean(ret_f,20))^2)),0)',is_quarterly=False,add_data=True)

In [152]:
dv.get_ts('GainVariance20_J')

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150105,1.704767,0.986857,0.000000,0.000000,0.000000,0.323589,0.000000,NaN,0.000000,2.534063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20150106,2.185723,1.015071,0.000000,0.000000,0.000000,0.322542,0.370436,NaN,0.000000,2.863935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.903037
20150107,2.891565,0.951789,0.766204,0.331299,1.660101,0.341083,0.434268,NaN,0.000000,3.215183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.579136
20150108,3.225378,0.951707,0.730510,0.357128,1.660281,0.334177,0.694883,NaN,0.000000,3.412584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.573375
20150109,3.671125,0.995349,0.000000,0.360087,0.000000,0.000000,0.764714,NaN,0.000000,4.163966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.494355
20150112,4.076752,1.038602,0.000000,0.366730,0.000000,0.000000,0.927299,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.445005
20150113,4.450808,1.078607,0.000000,0.356533,0.000000,0.000000,1.156590,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.305020
20150114,4.645335,1.080050,0.000000,0.000000,0.000000,0.000000,1.344130,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.187632
20150115,4.635778,1.031156,0.000000,0.000000,0.000000,0.000000,1.586712,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20150116,4.291593,0.845427,0.000000,0.000000,0.000000,0.000000,2.119920,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.769281
20150119,0.000000,0.891797,0.000000,0.000000,0.000000,0.000000,2.221622,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20150120,0.000000,0.898518,0.000000,0.000000,0.000000,0.000000,2.651799,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20150121,0.000000,0.912361,0.000000,0.000000,0.351640,0.000000,2.918607,NaN,1.140258,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
20150122,0.000000,0.908769,0.359317,0.354415,0.497852,0.596499,3.125417,NaN,1.802669,5.279057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.346757
20150123,2.663049,1.022642,0.000000,0.000000,0.548124,0.596644,2.991213,NaN,2.067694,5.019813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.035171
20150126,0.000000,1.019637,0.413165,0.353067,0.604136,0.607554,2.875666,NaN,2.281139,4.535789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.663970
20150127,0.000000,0.960488,0.426048,0.356119,0.656699,0.585463,2.749673,NaN,2.431168,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.325827
20150128,0.000000,1.121774,0.000000,0.630536,0.702867,0.584789,2.371162,NaN,2.557571,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.641579
20150129,0.000000,1.314648,0.000000,1.164789,0.758287,0.539648,1.906694,NaN,2.599032,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.810899
20150130,0.000000,0.000000,0.000000,1.378849,0.727728,0.522634,1.381203,NaN,2.552425,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.569813
20150202,0.000000,0.000000,0.000000,1.526875,0.000000,0.000000,0.825425,NaN,2.404232,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.323073
20150203,0.000000,0.000000,0.000000,1.688169,0.683753,0.403090,0.646282,NaN,2.338349,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.281262
20150204,0.000000,0.000000,0.000000,1.796180,0.000000,0.401216,0.522093,NaN,2.228386,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.275717
20150205,0.000000,0.000000,0.000000,1.804468,0.000000,0.330647,0.568527,NaN,2.195373,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.271062
20150206,0.000000,0.000000,0.000000,1.806871,0.000000,0.331580,0.565782,NaN,2.069188,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.288463
20150209,0.000000,0.000000,0.000000,1.818311,0.000000,0.331231,0.000000,NaN,1.865071,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261421
20150210,0.000000,0.000000,0.000000,1.810506,0.000000,0.341098,0.000000,NaN,1.594982,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.114914
20150211,0.000000,0.000000,0.000000,1.722351,0.000000,0.380004,0.000000,NaN,1.333469,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.911895
20150212,0.000000,0.000000,0.000000,1.603078,0.000000,0.355953,0.000000,NaN,1.081348,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.619646
20150213,0.000000,0.000000,0.000000,1.525796,0.000000,0.367327,0.000000,NaN,0.930248,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.499737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20171120,1.105581,0.726515,0.000000,0.242308,0.000000,0.634526,0.671541,NaN,0.000000,0.000000,...,0.460529,0.0,0.000000,0.854155,0.000000,0.680156,0.210745,0.000000,0.709917,0.000000
20171121,1.554286,0.739355,0.000000,0.000000,0.000000,0.641508,0.703232,NaN,0.000000,0.000000,...,0.536707,0.0,0.000000,0.907794,0.000000,0.563653,0.239504,0.000000,0.714920,0.000000
20171122,2.250513,0.752437,0.000000,0.000000,0.000000,0.724859,0.691752,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.406904,0.278406,0.000000,0.000000,0.000000
20171123,2.449182,0.650610,0.000000,0.000000,0.000000,0.698846,0.657378,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.531640,0.000000,0.000000,0.000000,0.000000
20171124,2.557048,0.595212,0.000000,0.000000,0.000000,0.760214,0.620096,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.650716,0.268388,0.000000,0.000000,0.000000
20171127,2.493827,0.590246,0.000000,0.000000,0.000000,0.751178,0.553645,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.877385,0.000000,0.000000,0.000000,0.000000
20171128,2.419667,0.598617,0.000000,0.000000,0.000000,0.748458,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.064547,0.000000,0.000000,0.000000,0.000000
20171129,2.349035,0.660468,0.000000,0.000000,0.000000,0.763512,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20171130,2.247834,0.664097,0.000000,0.000000,0.000000,0.738509,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.530702,0.000000,0.000000,0.000000,0.531171
20171201,2.035489,0.661154,0.000000,0.000000,0.000000,0.692891,0.507459,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.694764,0.000000,0.000000,0.000000,0.653610
20171204,1.695600,0.636621,0.000000,0.000000,0.000000,0.632136,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.718706
20171205,1.518101,0.611795,0.000000,0.000000,0.000000,0.552967,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20171206,1.447369,0.551557,0.000000,0.000000,0.000000,0.429644,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20171207,1.527487,0.472750,0.000000,0.000000,0.000000,0.363321,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20171208,1.572948,0.389362,0.000000,0.000000,0.000000,0.229483,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20171211,1.722253,0.307163,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,1.496310,0.000000,0.000000,0.000000,0.546170,0.802438
20171212,2.020440,0.366849,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,1.681466,0.000000,0.000000,0.000000,0.546125,0.869595
20171213,2.232700,0.392573,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,1.839231,0.000000,0.213279,0.000000,0.700559,1.027252
20171214,0.000000,0.446364,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,1.975213,0.000000,0.205793,0.000000,0.687127,1.315094
20171215,0.000000,0.558448,0.000000,0.000000,0.000000,0.000000,0.977972,NaN,0.000000,0.000000,...,0.519276,0.0,0.000000,0.000000,2.040528,1.181239,0.207179,0.000000,0.736668,1.372422
20171218,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,1.983718,0.928462,0.000000,0.000000,0.761790,1.339420
20171219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.382720,0.0,0.000000,0.000000,2.024131,0.000000,0.000000,1.004135,0.717879,1.206347
20171220,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.534137,0.0,0.000000,0.000000,1.851308,0.368269,0.000000,1.176859,0.737861,0.997146
20171221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.558178,NaN,0.000000,0.099995,...,0.763318,0.0,0.000000,0.596142,1.548036,0.513641,0.172626,1.305788,0.889318,0.724913
20171222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.562056,NaN,0.000000,0.134834,...,0.953680,0.0,0.000000,0.768872,1.182461,0.534653,0.200302,0.000000,0.982528,0.000000
20171225,0.000000,0.000000,0.000000,0.192349,0.000000,0.000000,0.612191,NaN,0.000000,0.153375,...,1.189997,0.0,0.300313,0.910796,0.913107,0.600964,0.261063,0.000000,1.031006,0.000000
20171226,0.000000,0.000000,0.000000,0.300007,0.000000,0.000000,0.663544,NaN,0.000000,0.164555,...,1.289071,0.0,0.347642,1.052518,0.716878,0.703563,0.360583,0.000000,1.027412,0.000000
20171227,0.000000,0.000000,0.000000,0.375974,0.000000,0.000000,0.692125,NaN,0.000000,0.000000,...,1.375842,0.0,0.380588,1.121668,0.000000,0.776045,0.391072,0.000000,1.003670,0.000000
20171228,0.000000,0.000000,0.000000,0.405424,0.000000,0.000000,0.760564,NaN,0.000000,0.000000,...,1.427719,0.0,0.426782,1.130271,0.640574,0.781250,0.480558,0.000000,0.890408,0.000000
20171229,1.331073,1.317815,0.000000,0.424829,0.000000,0.000000,0.792525,NaN,0.000000,0.000000,...,1.462612,0.0,0.000000,1.204366,0.632535,0.847772,0.683129,0.000000,0.843716,0.000000

In [153]:
print(spearman_factor(factor_u='RSI', factor_j='GainVariance20_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.509682
dtype: float64, array([  2.32281773e-273]))

## 因子四
### Cmra

In [156]:
dv.add_formula('ret','Return(close_adj,1)',is_quarterly=False,add_data=True)
dv.add_formula('ret_f','ret+1',is_quarterly=False,add_data=True)
dv.add_formula('vl','If(volume>0,1,0)',is_quarterly=False,add_data=True)
cmraMx = dv.add_formula('cmraMx0','Ts_Product(ret_f*vl,24)',is_quarterly=False,add_data=True)
cmraMn = dv.add_formula('cmraMn0','cmraMx0',is_quarterly=False,add_data=True)
# step max
for k in range(23):
    temp_prod = dv.add_formula('temp_prod','Ts_Product(Delay(ret_f*vl,%s),%s)'%(k+1,24-k),is_quarterly=False,add_data=True)
    cmra_Mx = dv.add_formula('cmraMx%s'%(k+1),'Max(cmraMx%s,temp_prod)'%(k),is_quarterly=False,add_data=True)
    cmra_Mn = dv.add_formula('cmraMn%s'%(k+1),'Min(cmraMn%s,temp_prod)'%(k),is_quarterly=False,add_data=True)
Cmra = dv.add_formula('Cmra_J','Log(cmraMx23)-Log(cmraMn23)',is_quarterly=False,add_data=True)

Field [ret_f] is overwritten.
Variable [volume] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'volume,trade_status,trade_date,symbol'}
下载进度647/1051.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601299.SH
Query data - daily fields prepared.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.
Field [temp_prod] is overwritten.

In [157]:
print(spearman_factor(factor_u ='CMRA',factor_j = 'Cmra_J',start = 20160101,symbol = stock_symbol) )

(spearmanr    0.230155
dtype: float64, array([  8.96361698e-189]))

### 因子五
### TVSTD--Total Market Value与Standard Deviation的比值
### 计算方法：
#### Total MV/ Standard Deviation

In [158]:
dv.add_formula('turn_over_value','close_adj*volume/Pow(10,6)',is_quarterly=False,add_data=True)
TVSTD6=dv.add_formula('TVSTD6_J','StdDev(turn_over_value,24)',is_quarterly = False,add_data = True)

In [160]:
dv.get_ts('TVSTD6').head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20150105,546.1314,2852.8700,232.5935,46.2250,NaN,174.5241,39.2673,NaN,4.8877,94.7868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0326
20150106,397.3914,2291.9296,192.8482,46.6346,NaN,160.6243,28.1306,NaN,5.5587,84.8310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.6755
20150107,636.8622,2097.7179,200.4100,48.8861,280.0872,123.6183,28.2715,NaN,5.5900,126.5043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.5057
20150108,865.1633,2276.1237,220.3134,20.4241,274.7083,114.3106,104.5153,NaN,5.8023,129.5486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177.7855
20150109,881.3310,2302.7048,227.5420,9.3498,263.3043,117.4935,103.1871,NaN,6.1435,116.5882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.1313

In [161]:
print(spearman_factor(factor_u ='TVSTD6',factor_j = 'TVSTD6_J',start = 20160101,symbol = stock_symbol))

(spearmanr    0.584906
dtype: float64, array([ 0.]))

## 因子六七八
### Alpha12 Alpha22 Alpha76
### 计算方式：

In [162]:
alpha12=dv.add_formula('alpha12','(Rank((open_adj- (Ts_Sum(vwap_adj, 10) / 10)))) * (-1 * (Rank(Abs((close_adj - vwap_adj)))))',is_quarterly=False,add_data=True)

In [163]:
alpha22 = dv.add_formula('alpha22','Ts_Mean(((close_adj-Ts_Mean(close_adj,6))/Ts_Mean(close_adj,6)-Delay((close_adj-Ts_Mean(close_adj,6))/Ts_Mean(close_adj,6),3)),12)',is_quarterly=False,add_data=True)

In [164]:
alpha76 = dv.add_formula('alpha76','StdDev(Abs((close_adj/Delay(close_adj,1)-1))/volume,20)/Ts_Mean(Abs((close_adj/Delay(close_adj,1)-1))/volume,20)',is_quarterly=False,add_data=True)

In [165]:
alpha_pn = pd.Panel({'alpha{}'.format(i) : dv.get_ts('alpha{}'.format(i)) for i in [12,22,76]}).to_frame()
print(alpha_pn.tail())

                       alpha12   alpha22   alpha76
trade_date symbol
20171229   603883.SH -198828.0  0.003887  0.723483
           603885.SH -127617.0 -0.004951  0.632631
           603888.SH -109484.0 -0.010172  0.478991
           603899.SH -223539.0 -0.013247  0.795689
           603993.SH -194880.0  0.004634  0.675480

In [166]:
dv.save_dataview('D:/data/alpha')

Store data...
Dataview has been successfully saved to:
D:\data\alpha

You can load it with load_dataview('D:\data\alpha')